body {
    font-family: sans-serif;
    background-color:orange;
    margin-top: 75px;
}

.center {
    text-align: center;
    text-decoration:underline;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
p{
    padding:12px;
    border:6px solid green;
}
p{
    background-color:red;
}
body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE-aYXmmYR51x7nEABTrI4iBbs7jILyefSnnmu0_zFj_HOpYCbDA");
}

.container{

max-width: 800px;
margin: 0 auto;
color: white;
font-family: sans-serif;
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;
    }